@charset "utf-8";

.check{position:relative;display:inline-block;}
.check input[type="radio"]{visibility:hidden;position:absolute;left:0;top:0;}
.check label{display:inline-block;padding-left:25px;font-size:1px;line-height:1px;color:transparent;vertical-align:middle;cursor:pointer;}
.check input ~ label:before{position:absolute;left:0;top:0;display:inline-block;width:25px;height:25px;content:'';background-image:url(../images/board/checkbox_off.png);}
.check input:checked ~ label:before{background-image:url(../images/board/checkbox_on.png);}
.check input.readonly ~ label:before{background-image:url(../images/board/checkbox_no.png);}

/* 컨텐츠 그룹 */
#container{position:relative;width:100%;padding:0;}

.rowgroup{position:relative;}
.main_visual {overflow:hidden;  position: relative; }
.main_visual .visual { position: relative;  height:635px;}
.main_visual .visual .slide_box {position: relative; z-index:10;}
.main_visual .visual .slide_box li {float:left;} 
.main_visual .visual .slide_box li   img {width: 100%;}
.main_visual .text {position: absolute; z-index:50; left:50%; top:50%; width:452px;  transform: translate(-50%, -50%); margin-top:75px;}
.main_visual .text  img {width:100%; height:auto;}
.main_visual .scroll_btn {display:none; position: absolute; left:50%; bottom:0 ; z-index:100;  width:80px; transform: translate(-50%, 0);}
.main_visual .scroll_btn span {display: inline-block; position: relative; padding-bottom:70px; }
.main_visual .scroll_btn span::before {display:inline-block; content:''; position: absolute; left:50%; bottom:0; width:2px; margin-left:-1px; height:60px; background: #fff;;}
.visual .wrap{height:500px;}
.visual .slide_box .slick-track{position:relative;}


.rowgroup2 {position:relative; padding-top:95px;  background-color:#fff;}
.rowgroup2 .wrap{padding-bottom:145px;}
.rowgroup2 h3 {margin-bottom:25px;font-size:20px;line-height:22px; text-align:center;}
.rowgroup2 h3 span {display:inline-block; padding:7px 30px 5px; min-width:220px; ;color:#fff;  font-weight: 400; background-color: #545c72; border-radius: 100px; letter-spacing:-1px;}
.rowgroup2 .contents_box{height:350px;}
.rowgroup2 .colgroup,.rowgroup2 .colgroup2,.rowgroup2 .colgroup3{float:left;width:calc(100%/2 - 68px/2);margin-right:34px;}

.rowgroup2 .charts img{width:100%;}




.rowgroup3 .wrap{padding-top:50px;padding-bottom:50px}
.rowgroup3 .shortcut{margin-bottom:35px;}
.rowgroup3 .shortcut ul{margin-left:-15px;}
.rowgroup3 .shortcut li{position:relative;float:left;width:calc(100%/3 - 15px);padding:300px 0 0 30px;margin-left:14px;box-sizing:border-box;}
.rowgroup3 .shortcut li:before{position:absolute;left:0;top:0;display:inline-block;width:100%;height:350px;content:'';background-position:center top;background-repeat:no-repeat;}
.rowgroup3 .shortcut li:nth-child(1):before{background-image:url(../images/main/shortcut_bg01.png);}
.rowgroup3 .shortcut li:nth-child(2):before{background-image:url(../images/main/shortcut_bg02.png);}
.rowgroup3 .shortcut li:nth-child(3):before{background-image:url(../images/main/shortcut_bg03.png);}
.rowgroup3 .shortcut .contents_box{position:relative;padding:30px;letter-spacing:-1px;background-color:#fff;}
.rowgroup3 .shortcut .contents_box .title_box{margin-bottom:30px;}
.rowgroup3 .shortcut .contents_box .title_box .title{position:relative;display:inline-block;margin-bottom:20px;font-size:28px;line-height:30px;font-weight:500;color:#222;}
.rowgroup3 .shortcut li:last-child .contents_box .title_box .title:after{display:inline-block;width:100px;height:17px;margin-left:10px;content:'twitter';font-size:1px;line-height:1px;color:transparent;vertical-align:middle;background:url(../images/main/icon_twitter.png) center center no-repeat;}
.rowgroup3 .shortcut .contents_box .title_box .cont{font-size:17px;line-height:26px;color:#555;}
.rowgroup3 .shortcut .contents_box .cont_box a{display:inline-block;padding:0 20px 5px 0;font-size:16px;line-height:18px;color:#222;text-decoration:none;border-bottom:2px solid #b5b5b5;}
.rowgroup3 .shortcut .contents_box .cont_box a:hover{color:#12b8ba;border-bottom:2px solid #12b8ba;}




/* section03 */
#section03 {padding-bottom:60px; background-color: #1a2651;}
#section03 .rowgroup {position:relative; margin-bottom:60px;}
#section03 .rowgroup .tit_box  {padding-top:70px; color:#fff;}
#section03 .rowgroup .tit_box  h2 {margin-top:70px; text-align: center; font-weight: 700; font-size:50px; line-height:52px; letter-spacing: -0.025rem;;}
#section03 .rowgroup .tit_box  p {margin-top:12px; text-align:center; font-size:17px; line-height:20px; letter-spacing: -1px;;}
#section03 .rowgroup .list_box {position: relative; padding:50px 110px 60px;}
#section03 .rowgroup .list_box .inner_wrap .col_box {float:left; width:25%;}
#section03 .rowgroup .list_box .inner_wrap .col_box a {display:block;  margin:0 24px; color:#fff; text-align:center;  font-size:16px; line-height:18px;}
#section03 .rowgroup .list_box .inner_wrap .col_box a .top_inner {position: relative; ; letter-spacing: -0.025rem;}
#section03 .rowgroup .list_box .inner_wrap .col_box a .top_inner em {display:block; font-size:18px;  margin-bottom:8px; color:#919191;}
#section03 .rowgroup .list_box .inner_wrap .col_box a .top_inner .tit {display:block; font-size:20px; line-height: 22px; letter-spacing: -1px}
#section03 .rowgroup .list_box .inner_wrap .col_box a .top_inner .date {display:block; font-weight:300; margin-top:6px; padding-top:7px; border-top:1px solid #fff;  }
#section03 .rowgroup .list_box .inner_wrap .col_box a span {display:block; }
#section03 .rowgroup .list_box .inner_wrap .col_box a span.img {overflow:hidden; width:245px; margin:15px auto 0;}
#section03 .rowgroup .list_box .inner_wrap .col_box a span img {transition:all 300ms ease-in-out; width:100%; height:auto;}

#section03 .rowgroup .list_box .inner_wrap .col_box a p {display:block; margin-top:32px; line-height:25px; font-weight:600; /*letter-spacing:-0.025em;*/ text-align:center;}
#section03 .rowgroup .list_box .inner_wrap .col_box a:hover  {text-decoration: none;;}
#section03 .rowgroup .list_box .inner_wrap .col_box a:hover img{transform:scale(1.05);}


#section03 .rowgroup .list_box .inner_wrap .slide_box {position:relative;}
#section03 .rowgroup .list_box .inner_wrap .slick-arrow {display:inline-block; position:absolute; top:50%; z-index:20; width:45px; height:45px; margin-top:-8px; padding:0; color:transparent; border:none; background-position:center center; background-repeat:no-repeat; background-size:100%; background-color:transparent; overflow:hidden; cursor:pointer;}
#section03 .rowgroup .list_box .inner_wrap .slick-prev {transition:all 300ms ease-in-out; left:0; background-image:url(../images/main/row3_prev.png);}
#section03 .rowgroup .list_box .inner_wrap .slick-prev:hover{left:0;}
#section03 .rowgroup .list_box .inner_wrap .slick-next {transition:all 300ms ease-in-out; right:0;background-image:url(../images/main/row3_next.png);;}
#section03 .rowgroup .list_box .inner_wrap .slick-next:hover {right:0;}
#section03 .rowgroup .list_box .inner_wrap .slick-list {position:relative; overflow:hidden;}
#section03 .rowgroup .list_box .inner_wrap .slick-track {position:relative;}


/* rowgroup4 */
.rowgroup4  {margin:110px auto 96px;}
.rowgroup4 .colgroup {position: relative; padding-top:160px;}
.rowgroup4 .colgroup:before {display: inline-block; position: absolute; left:50%; top:0;  content: '';  transform: translate(-50%, 0);  width:100%; height:100%; background:url(../images/main/row4_bg.png) no-repeat center top;}
.rowgroup4 .colgroup .other_shortcut ul {display:flex; justify-content: center; }
.rowgroup4 .colgroup .other_shortcut li {width:20%; text-align:center; border:4px solid #1a2651; box-sizing:border-box; border-left:0 none;}
.rowgroup4 .colgroup .other_shortcut li:first-child {border-left:4px solid #1a2651;}
.rowgroup4 .colgroup .other_shortcut li a {position:relative ;display:inline-block;padding:45px 0;}
.rowgroup4 .colgroup .other_shortcut li a span {display:block;}
.rowgroup4 .colgroup .other_shortcut li a span.img {width:66px; margin:0 auto;}
.rowgroup4 .colgroup .other_shortcut li a span.img img {width:100%; transition:transform 600ms ease-in-out 0s;}
.rowgroup4 .colgroup .other_shortcut li a span.text {margin-top:16px; font-size:30px;line-height:32px;color:#1a2651;letter-spacing:-1px;}
.rowgroup4 .colgroup .other_shortcut li a span.img img {width:100%; transition:transform 600ms ease-in-out 0s;}

.rowgroup4 .colgroup .other_shortcut li a:hover img, .rowgroup4 .colgroup .other_shortcut li a:focus img {transform:rotateY(360deg);}


